# Keep all dependencies in root node_modules to reduce bloat
# Symlinks are created manually to app directories
enable-pre-post-scripts=true
ignore-workspace-cycles=true
resolution-mode=highest
# Prevent pnpm from creating separate node_modules in workspaces
# We use symlinks to root node_modules instead
